<style>
  * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border: none;
  }
  .main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    margin: 2rem auto;
  }

  .left,
  .right {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f2f2f2;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    border: solid 5px #f2f2f2;
  }

  button {
    height: 65px;
    margin: auto;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #f2f2f2;
    transition: all 0.3s;
  }

  button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
</style>

<div class="main">
  <div class="left">
    <div class="contador">{{ count1 }}</div>
    <h1>Contador 1</h1>
    <button (click)="increment1()">Incrementar</button>
  </div>
  <div class="right">
    <div class="contador">{{ count2 }}</div>
    <h1>Contador</h1>
    <button (click)="increment2()">Incrementar</button>
  </div>
</div>
